:root{
    --ancho-atelefono-pequeno: 130px;
    --alto-atelefono-pequeno: 267px;

    --ancho-atelefono-mediano: 210px;
    --alto-atelefono-mediano: 415px;

    --ancho-atelefono-grande: 330px;
    --alto-atelefono-grande: 652px;

}

.atelefono {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: var(--ancho-atelefono-pequeno);
    height: var(--alto-atelefono-pequeno);
}

.atelefono-contenedor-telefono {
    position: relative;
    /*border: 1px solid green;*/
}

.atelefono-contenedor-telefono img {
    margin: 0;
    padding: 0;
    width: var(--ancho-atelefono-pequeno);
    height: var(--alto-atelefono-pequeno);
}

/* Div Información telefono */
.atelefono-contenedor-datos {
    position: absolute;
    display: flex;
    width: 90%;
    height: 80%;

    left: 2%;
    right: 2%;
    bottom: 0;
    top: 1%;
    margin: auto;

    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.atelefono-titulo {
    color: #0D546C;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid #0D546C;
    width: 90%;
}

.atelefono-titulo-items{
    font-size: 13px;
}


/* Div Publicidad */
.atelefono-publicidad {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    overflow-y: auto;
    margin-top: 2%;

    scrollbar-width: auto;
    scrollbar-color: #3c7daf #ffffff;
}

/* Chrome, Edge, and Safari */
.atelefono-publicidad::-webkit-scrollbar {
    width: 16px;
}

.atelefono-publicidad::-webkit-scrollbar-track {
    background: #ffffff;
}

.atelefono-publicidad::-webkit-scrollbar-thumb {
    background-color: #3c7daf;
    border-radius: 10px;
    border: 3px solid #ffffff;
}


/* Div Botones */
.atelefono-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 17%;
}

.atelefono-boton {
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 8px
}

@media(min-width: 540px){

    .atelefono {
        width: var(--ancho-atelefono-mediano);
        height: var(--alto-atelefono-mediano);
    }

    .atelefono-contenedor-telefono img {
        width: var(--ancho-atelefono-mediano);
        height: var(--alto-atelefono-mediano);
    }

    .atelefono-titulo-items{
        font-size: 21px;
    }

    .atelefono-boton{
        font-size: 13px;
        margin-bottom: 4%;
    }
}

@media(min-width: 1024px){

    .atelefono{
        width: var(--ancho-atelefono-grande);
        height: var(--alto-atelefono-grande);
    }

    .atelefono-contenedor-telefono img {
        width: var(--ancho-atelefono-grande);
        height: var(--alto-atelefono-grande);
    }

    .atelefono-titulo-items{
        font-size: 21px;
    }

    .atelefono-boton{
        font-size: 17px;
        margin-bottom: 7%;
    }
}